body{
	width:960px;
	margin:auto;
}

.new-search, .live-searches, .error, .location, .results-filter:not(span), .navbar{
	padding: 20px;
	margin: 20px auto;
	background-color: #eee;
	border: 1px solid #ccc;
}

.navbar a{
	margin-right: 20px;
	color: black;
	text-decoration: none;
}

.navbar a:visited{
	color: black;
	text-decoration: none;
}

.navbar a:hover{
	text-decoration: underline;
}

.navbar a#logout-button{
	float: right;
}

.results-filter span{
	margin-left: 20px;
}

.results-filter #button{
	float: right;
}

.search, .live-search-result{
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
}

.live-search-result span.price{
	border: 1px solid #ccc;
	border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	padding: 1px 3px;
	margin-left: 5px;
}

.live-search-result span.listing-location{
	margin-right: 20px;
	float: right;
}

div.live-search-result-container{
	margin-bottom: 30px;
}

.search span{
	color: #1A8CD9;
	margin-right: 20px;
}

.search span.delete{
	color: #E01B1E;
	float:right;
	margin-right: 20px;
}

.delete-submit{
	float:right;
	margin-right: 0px;
}

.error{
	padding: 10px 20px;
	color: #E01B1E;
}

div.page-number-container{
	margin: 0px auto 35px auto;
	clear: both;
}

span.page-count{
	width: 50px;
	display: block;
	margin: 0px auto;
	clear: both;
}

div.page-number-container a.next{
	float: right;
	margin-bottom: 30px;
	font-size: 14pt;
}

div.page-number-container a.prev{
	float: left;
	margin-bottom: 30px;
	font-size: 14pt;
}

p.persistent-message{
	width: 400px;
	margin: 300px auto;
	font-size: 14pt;
}

div.search-seperator{
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px 0px;
	margin: 20px 0px;
	text-align: center;
	font-weight: bold;
}

div.authorization-box{
	width: 400px;
	margin: 200px auto 0px auto;
	background-color: #eee;
	border: 1px solid #ccc;
}

div.authorization-box input#auth-input{
	width: 150px;
	margin: 50px auto 0px auto;
	display: block;
}

div.authorization-box input[type="submit"]{
	width: 150px;
	margin: 20px auto 50px auto;
	display: block;
}

